@page
@model IndexModel
@{
    ViewData["Title"] = "Test 1";
}

<div class="text-center">
    <h1 class="display-4">Prueba 1</h1>
    <p>Esta es una prueba <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input id="Button1" type="button" value="button" />
    <p>Prueba de cambio registrado</p>

    <table style="width:100%;">
        <tr><td>Ejemplo</td><td>Rama</td><td>1</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    </table>
</div>
